:root {
    --background-color: grey;
    --font-color: white;
    --header-background-color: grey;
    --header-font-color: white;
    --field-background-color: rgb(65, 65, 65);
    --field-background-color-hover: rgb(70, 70, 70);
    --border-color: rgb(75,75,75);
    --grey-border-color: rgb(80,80,80);
    --button-background-color: rgb(65, 65, 65);
    --button-hover-background: rgb(70,70,70);
    --button-active-background: rgb(80,80,80);
    --font: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.6;
    margin-bottom: 80px;
}

h1 {
    line-height: 1.2;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.header {
    padding: 20px;
    border-bottom: 3px solid lightgrey;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}

.title {
    font-size: 30px;
    text-align: center;
}

.main {
    padding: 0 20px;
}

.message {
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.gameboard {
    display: grid;
    border-radius: 25px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid transparent;
    margin: 0px auto;
}

.field {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.field:hover {
    background-color: var(--field-background-color-hover);
}

.center {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.restart-button {
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 25px;
    background-color: transparent;
    color: var(--header-font-color);
    font-size: 20px;
}

.restart-button:hover {
    background-color: var(--button-hover-background);
}

.restart-button:active {
    background-color: var(--button-active-background);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

a {
    color: rgb(75, 75, 75);
    background-color: none;
}